/*MEDIA QUERY*/

/*Jika berukuran 980px atau dibawahnya*/
@media screen and (max-width:980px){
  #pagewrap{
    width:94%;
  }
  #content{
    width:65%;
  }
  #sidebar{
    width:30%;
  }
}

/*Jika berukuran 700px atau dibawahnya*/
@media screen and (max-width:700px){
  #content{
    width:auto;
    float:none;
  }
  #sidebar{
    width:auto;
    float:none;
  }
}

/*Jika berukuran 480px atau dibawahnya*/
@media screen and (max-width:480px){
  #header{
    height:auto;
  }
  h1{
    font-size:24px;
  }
  #sidebar{
    display:none;
  }
  #menu{
    width:auto;
  }
 .menu-list{
   width:auto;
   float:none; 
 }
}
